
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #363062;
}

.container {
    width: 80%;
    height: 35%;
    background-color: transparent;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

.flowers {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

.flowerImage{
    width:20vw;
    height:20vw;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5vw;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

.btn {
    background-color: black;
    border: 1px solid black;
    height: 20vh;
    width: 100%;
    border-radius: 5px;
    padding: 1.0vh 2.0vw;
    color: white;
    outline: none;
    font-size: 30px;
    font-size: 3.5vw;
}

.btn:hover {
    border-color: yellow;
}

.currency {
    display:flex;
    top: 1.2vh;
    position: absolute;
    color:white;
    height: 8vh;
    width: 7.5vw;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

}

.coinText {
    margin-left: 0.2vw;
    font-size:3.5vh;
    margin-top: 1.4vh;
}

.coin {
    height : 5.0vh;
    width: 5.0vh;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0;
}

#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}

#repeat {
    position:absolute;
    bottom:0%;
}